<ion-content>
  <div class="p-24 bg-white">
    <ion-toolbar class="mb-24">
      <ion-buttons slot="start">
        <ion-icon name="arrow-back-outline" (click)="cancel()"></ion-icon>
      </ion-buttons>
      <!-- <ion-title class="fw-bold">Danh sách Ban quản lý</ion-title> -->
    </ion-toolbar>
    <div class="title-1 text-center">Danh sách Ban quản lý</div>
    <!-- <form [formGroup]="tableHelper.filterForm" (submit)="tableHelper.next()">
      <div class="row">
        <div class="col-6">
          <app-input [classList]="'w-100'" [label]="'Tên'" formControlName="name" [placeholder]="'Seach by Name'"></app-input>
          <button type="submit" hidden></button>
        </div>        
      </div>
    </form> -->
  </div>
  <div class="pr-24 pl-8">
    <ng-container *ngIf="(result$|async) as result">
      <ion-list>
        <ion-item class="p-0" *ngFor="let i of result" (click)="viewDetail(i)">
          <ion-avatar class="avatar" slot="start">
            <!-- <img src="../../../../assets/buildings.svg"> -->
            <i class='bx bxs-user-circle font32'></i>
          </ion-avatar>
          <ion-label class="p-24 px-0 m-0">
            <div class="medium-body-text fw-bold color-nets-blue mb-8">{{i.name}}</div>
            <div class="body-text text-overflow">{{i.description}}</div>
          </ion-label>
        </ion-item>
      </ion-list>
      <nz-empty class="mt-48" *ngIf="total == 0" [nzNotFoundContent]="'No data'"
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg">
      </nz-empty>
      <div class="text-center mt-32">
        <app-paginator [total]="total" (onPageChange)="tableHelper.onPageChange($event)" [pageSize]="5">
        </app-paginator>
      </div>
    </ng-container>
    
  </div>
</ion-content>