<div class="p-24 bg-white">
  <ion-toolbar class="mb-24">
    <ion-buttons slot="start">
      <ion-icon name="close-outline" (click)="cancel()"></ion-icon>
    </ion-buttons>
    <ion-title class="fw-bold">Chi tiết</ion-title>
  </ion-toolbar>
  <!-- <div class="title-1 mb-32 mt-16 text-center">Danh sách Block</div> -->
  <div *ngIf= " detail$ | async as detail; else loading"  class="detail-content">
    <div class="row mb-32">
      <div class="col-5">
        <div class="medium-body-text fw-bold">
          Tên Quản lý:
        </div>
      </div>
      <div class="col-7">
        <div class="medium-body-text"> {{detail.name}}</div>
      </div>
    </div>

    <div class="row mb-32">
      <div class="col-5">
        <div class="medium-body-text fw-bold">
          Ngày sinh:
        </div>
      </div>
      <div class="col-7">
        <div class="medium-body-text"> {{detail.dateOfBirth | date}}</div>
      </div>
    </div>

    <div class="row mb-32">
      <div class="col">
        <div class="medium-body-text fw-bold">
          Email:
        </div>
      </div>
      <div class="col">
        <div class="medium-body-text"> {{detail.email}}</div>
      </div>
    </div>

    <div class="row mb-32">
      <div class="col-5">
        <div class="medium-body-text fw-bold">
          Địa chỉ:
        </div>
      </div>
      <div class="col-7">
        <div class="medium-body-text"> {{detail.addr}}</div>
      </div>
    </div>
   
    <div class="row mb-32">
      <div class="col-5">
        <div class="medium-body-text fw-bold">
          Số điện thoại:
        </div>
      </div>
      <div class="col-7">
        <div class="medium-body-text"> {{detail.phoneNumber}}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  loading.........
</ng-template>