<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" style="height: 0;">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="report"  style="height: 0;">
      <ion-icon name="pie-chart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="card"  style="height: 0;">
      <ion-icon name="card-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="setting"  style="height: 0;">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>