<ion-header>

  <!-- header -->
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title class="ion-text-center font-weight-bold">Card</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="slides ion-padding">
    <ion-slides [options]="slideOptions">
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-title>New card</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-title>New card</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-title>New card</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>